.jumbotron {
    background-image: url(../image/msi.jpg);
    background-size: cover;
    height: 100vh;
    text-align: center;
}

.jumbotron .display-4 {
    color: white;
    margin: 200px;
}

.jumbotron .my-4 {
    color: white;
}

.jumbotron hr {
    border-color: white;
    width: 250px;
}

.jumbotron p {
    color: white;
}